* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Comfortaa", cursive;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5cdb95;
  padding: 0 20px;
}

.quote__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 700px;
  text-align: center;
  gap: 20px;
  color: #edf5e1;
  padding: 35px 20px 20px;
  background: rgba(255, 255, 255, 0.23);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.3px);
  -webkit-backdrop-filter: blur(5.3px);
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.quote__wrapper:hover .quotes__copy-btn {
  display: block;
}

.quote {
  max-width: 600px;
}

.quote__text {
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 16px;
}

.quote__author {
  font-size: 14px;
}

.quotes__buttons {
  display: flex;
  align-items: center;
  gap: 40px;
}

.quotes__reload-btn {
  width: 200px;
  height: 48px;
  background-color: #05386b;
  color: #edf5e1;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
  border: none;
}

.quotes__reload-btn:active {
  border: 1px solid #ffffff;
}

.quotes__copy-btn {
  display: none;
  position: absolute;
  top: 20px;
  right: 10px;
  cursor: pointer;
  padding: 5px;
}

.quotes__copy-btn:hover {
  background-color: rgba(255, 255, 255, 0.23);
  border-radius: 8px;
}

.quotes__copy-btn_clipboard {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.quotes__copy-btn_done {
  display: none;
  position: absolute;
  top: 12px;
  left: 10px;
  width: 15px;
  height: 15px;
  background-image: url(icons/done.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.quotes__copy-btn_done.active {
  display: block;
}

@media screen and (max-width: 425px) {
  .quote__text {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
  }

  .quote__author {
    font-size: 14px;
  }

  .reload-btn {
    width: 125px;
    height: 48px;
  }
}
